:root{
    --dark-blue:#19283F;
    --green-color:#33D1CC;
    --white-color:#fff;
    --red-color:#FF3150;
    --yellow-color:#FFC400;
    --babyBlue-color:#EFF7FA;
}
a{
    cursor: pointer;
}
body{
    font-family: 'Roboto', sans-serif !important;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}


.main-btn{
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}
.main-btn:hover{
    background-color: var(--yellow-color);
    color: var(--red-color);
}
.main-title::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
/* start navbar */
.navbar{
    background-image: linear-gradient(#F7418F, #FC819E);
}
.navbar .navbar-nav .nav-link{
    font-family: Impact;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: left;
    font-size: 13px;
    text-decoration: none;
    color: black;
}
.navbar .navbar-nav .nav-link:active,.navbar .navbar-nav .nav-link:focus,.navbar .navbar-nav .nav-link:hover{
    color: #ffffff;
}
.navbar .search{
    border-left: 1px solid var(--green-color);
}
.navbar .search svg{
    color: var(--white-color);
}
.navbar .navbar-toggler{
    color: var(--white-color);
    font-size: 1.2em;
    border-color: var(--white-color);
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}
.navbar-brand{
    outline: none;
}
/* end navbar */
/* Start Landing */
.landing{
    background-color: var(--dark-blue);
    min-height: calc(100vh - 72px);
}
/* End Landing */
/* Start Features */
.features .icon-holder {
    height: 200px;
  }
  .features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
  }
  .features .icon-holder .number {
    font-size: 12rem;
    color: var(--babyBlue-color);
  }
  .features .icon-holder .icon {
    color: var(--green-color);
  }
  .features .feat h4 {
    color: var(--yellow-color);
  }

  .service_section {
    position: relative;
    background-color: #ffffff;
  }
  
  .service_section .heading_container h2 {
    text-transform: none;
  }
  
  .service_section .box {
    margin: 45px 0;
    text-align: center;
  }
  
  .service_section .box .img-box {
    height: 65px;
  }
  
  .service_section .box .img-box img {
    height: 100%;
    -webkit-filter: brightness(0);
            filter: brightness(0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .service_section .box .detail-box {
    margin-top: 15px;
  }
  
  .service_section .box .detail-box h5 {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .service_section .box .detail-box a {
    color: #19c880;
    font-weight: 600;
  }
  
  .service_section .box .detail-box a:hover {
    color: #8019c8;
  }
  
  .service_section .box:hover .img-box img {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }


  .product_section {
    background-color: #ffffff;
    margin-bottom: 45px;
  }
  
  .product_section .product_heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px;
  }
  
  .product_section .product_heading h2 {
    padding: 10px 20px;
    background-color: #19c880;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
  }
  
  .product_section .product_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -10px;
  }
  
  .product_section .product_container .box {
    width: 355px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px 45px 10px;
  }
  
  .product_section .product_container .box .box-content {
    background-color: #ffffff;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
  }
  
  .product_section .product_container .box .box-content .img-box {
    margin: 45px 0;
  }
  
  .product_section .product_container .box .box-content .img-box img {
    height: 175px;
  }
  
  .product_section .product_container .box .box-content .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .product_section .product_container .box .box-content .detail-box .text,
  .product_section .product_container .box .box-content .detail-box .like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .product_section .product_container .box .box-content .detail-box .star_container {
    color: #e2ba1b;
  }
  
  .product_section .product_container .box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  
  .product_section .product_container .box .btn-box a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #8019c8;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
  }
  
  .product_section .product_container .box .btn-box a:hover {
    background-color: #541184;
  }
  /* End Features */


  .info_section {
    background-color: #0f1521;
    color: #ffffff;
  }
  
  .info_section .info_logo {
    width: 80%;
    margin: 0 auto 45px auto;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }
  
  .info_section .info_logo h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .info_section h5 {
    margin-bottom: 25px;
    font-size: 24px;
  }
  
  .info_section .info_insta .insta_container img {
    height: 45px;
  }
  
  .info_section .info_insta .insta_container .insta-box {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    padding: 15px;
  }
  
  .info_section .info_contact .img-box {
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .info_section .info_contact p {
    margin: 0;
  }
  
  .info_section .info_contact > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  
  .info_section .info_contact > div img {
    height: auto;
    margin-right: 12px;
  }
  
  .info_section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
  }
  
  .info_section .info_form form button {
    display: inline-block;
    padding: 8px 30px;
    background-color: #8019c8;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  .info_section .info_form form button:hover {
    background-color: #541184;
  }
  
  .info_section .info_form .social_box {
    margin-top: 35px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .info_section .info_form .social_box a {
    margin-right: 25px;
  }


  /*Start our-work*/
  .footer_section {
    position: relative;
    background-color: #ffffff;
    text-align: center;
  }
  
  .footer_section p {
    color: #000000;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section p a {
    color: inherit;
  }
  /* End Footer */