*{
    font-family: 'Poppins';
    font-weight: 700em;
}

nav{
    background-color: #6AC6ED;
}

.jumbotron {
    position: relative;
    height: 1100px;
    overflow: hidden;
}

.jumbotron .wave1 {
    background-image: url('assets/images/Home_wave1.png');
    height: 1100px;
    background-size: cover;
}

.jumbotron .wave2 {
    background-image: url('assets/images/Home_wave2.png');
    position: absolute;
    top: 0;
    right: 0;
    width: 776px;
    height: 700.5px;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
}
.desc {
    width: 70%;
    height: fit-content;
    margin-top: 150px;
    text-align: center;
    color: white;
}

.desc h1 {
    margin-top: 20px;
    font-size: 48px;
    font-weight: bold;
}
.desc p {
    font-size: 24px;
}

.fs-4 {
    color: #fff;
}

.nav.nav-pills .nav-item .nav-link{
    color: #fff;
}

.nav.nav-pills .nav-item .nav-link.active {
    background-color: #fff;
    border-radius: 20px;
    color: #6AC6ED;
}

.img-wave {
    height: 100%;
    width: 100%;
}

.ambatron{
    position: relative;
    height: 1100px;
    overflow: hidden;
}

.ambatron .vektor1{
    float: right; /* Meletakkan vektor 1 di sebelah kanan */
    margin-right: 20px; /* Menambahkan jarak antara vektor 1 dan konten lainnya */
    background-image: url('assets/images/Vector\ 4.png');
    height: 100%; /* Atur ketinggian sesuai kebutuhan */
    background-size: cover;
}


.ambatron .vektor2{
    float: left; /* Meletakkan vektor 2 di sebelah kiri */
    margin-left: 20px; /* Menambahkan jarak antara vektor 2 dan konten lainnya */
    background-image: url('assets/images/Vector\ 9.png');
    height: 100%; /* Atur ketinggian sesuai kebutuhan */
    background-size: cover;
}



  
.our-service {
    margin: 180px 8.6px 26.3px 0;
    display: block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px; /* Ukuran font tetap */
    color: #A1E2FD;
    text-align: center; /* Pastikan teks berada di tengah */
  }
  
  .logo-container {
    display: flex;
    justify-content: center; /* Memusatkan elemen secara horizontal */
    align-items: center; /* Menyelaraskan item secara vertikal di tengah */
    border: 5px solid #6AC6ED; /* Border dengan ketebalan 10px dan warna biru */
    padding: 15px; /* Padding di dalam setiap elemen */
    border-radius: 3vw; /* Membuat sudut border menjadi persegi tetapi responsif */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
    flex-wrap: nowrap; /* Mencegah elemen membungkus ke baris berikutnya */
    width: auto; /* Mengatur lebar secara otomatis */
    margin: 0 5vw 8vh; /* Menambahkan margin kanan dan kiri border dengan unit responsif */
  }
  
  
  .logo-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 6vh; /* Jarak antar elemen dengan unit responsif */
  }
  
  .logo-container img {
    width: 5vw; /* Ukuran gambar responsif relatif terhadap lebar viewport */
    height: auto; /* Tetap menjaga proporsi gambar */
    margin-bottom: 1vh; /* Jarak antara gambar dan teks dengan unit responsif */
  }
  
  
  .logo-container p {
    font-size: 1vw; /* Ukuran font responsif relatif terhadap lebar viewport */
    color: #A1E2FD; /* Warna font biru, bisa diubah sesuai kebutuhan */
    margin: 4vh; /* Menggunakan variabel untuk margin */
    text-align: center; /* Rata tengah teks */
  }
  

  .about-us{
    color: #6AC6ED;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    
  }

  .about-explanation {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    color: #6AC6ED;
    font-size: 18px;
  }

  .about-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

body {
  margin: 0;
}

.container77 {
  background-color: #6AC6ED;
  padding: 20px;
  min-height: 100vh;
}

header {
  text-align: center;
}

.title {
  font-size: 60px;
  margin-top: 150px;
  margin-bottom: 90px;
  color: #FFFFFF; /* Mengubah warna tulisan judul menjadi putih */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Memberikan efek drop shadow */
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Mengatur agar menu berada di tengah */
  gap: 20px;
}

.menu-item {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  width: 300px;
  height: auto;
  border: 4px solid #FFFFFF;
  padding: 60px 20px 80px 20px;
  margin: 40px 20px;
  border-radius: 5%;
  background-color: #6AC6ED;
}

.border-logo {
  width: 140px; /* Sesuaikan ukuran border lingkaran */
  height: 140px; /* Sesuaikan ukuran border lingkaran */
  border-radius: 50%; /* Membuat border lingkaran */
  border: 4px solid #FFFFFF; /* Atur border warna putih */
  position: absolute; /* Mengatur posisi absolut */
  top: -70px; /* Menggeser ke atas sejauh setengah dari tinggi border-logo */
  left: 50%; /* Menggeser ke tengah */
  transform: translateX(-50%); /* Menggeser ke tengah */
  display: flex; /* Mengaktifkan flexbox */
  justify-content: center; /* Posisikan konten secara horizontal di tengah */
  align-items: center; /* Posisikan konten secara vertikal di tengah */
  background-color: #6AC6ED;
}

.menu-logo {
  width: 100px; /* Atur ukuran maksimum logo */
  height: auto; /* Atur ukuran maksimum logo */
}

.menu-title {
  font-size: 40px;
  margin-top: 80px; /* Menambahkan jarak antara logo dan judul */
}

.menu-list {
  text-align: left;
  margin-bottom: 40px;
}

.menu-list li {
  font-size: 15px;
  margin-bottom: 5px;
}

.order-button {
  position: absolute;
  bottom: 15px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  color: #6AC6ED;
  border: none;
  padding: 15px 70px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #F0F0F0;
}

/* Media Queries untuk responsivitas */
@media (max-width: 992px) {
  .menu-item {
    width: 45%; /* Dua kolom pada layar sedang */
    padding: 60px 10px 80px 10px;
  }

  .menu-title {
    font-size: 35px;
  }

  .order-button {
    padding: 12px 60px;
  }
}

@media (max-width: 576px) {
  .menu-item {
    width: 100%; /* Satu kolom pada layar kecil */
    padding: 60px 10px 80px 10px;
  }

  .menu-title {
    font-size: 30px;
  }

  .order-button {
    padding: 10px 50px;
  }

  .title {
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 60px;
  }
}

@media (max-width: 400px) {
  .menu-title {
    font-size: 25px; /* Sesuaikan ukuran font pada layar sangat kecil */
  }

  .order-button {
    padding: 8px 40px; /* Sesuaikan padding pada tombol */
  }

  .title {
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

  :root {
    --blue: #6AC6ED;
}

html {
    position: relative;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: var(--blue);
}

.card-vertical-line {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vl{
    min-height: 100%;
    border-left: 2px solid rgba(106, 198, 237, 0.3); 
}

.contact-section {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100vh;
    height: 100%;
}

.contact-card {
    flex: 0 1 700px;
    margin: auto;
    padding: 36px 24px; 
    background: #ffffffcc;
    border-radius: 15px;
    height: 100%;
}

.card {
    position: relative;
    height: 100%;
}

.card:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
    z-index: -1;
}

.card-body {
    display: flex;
    gap: 8px;
    height: 100%;
    flex-direction: row;
}

.card-body-item {
    flex: 1;
    align-items: center;
}

.card-body-item h3{
    all : unset;
    font-size: 42px;
    font-weight: 600;
    color :#6AC6ED
}

.card-image {
    width: 100%;
}

.card-body-item.left {
    display: flex;
}

.card-body-item.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
}

.card-footer-social-media> :nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.card-footer-social-media img {
    width: 10%;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-contact label {
    font-weight: 100;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--blue);
    color: var(--blue);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    font-weight: 100;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: var(--blue);
}

.app-form-control:focus {
    border-bottom-color: var(--blue);
}

.app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #b9134f;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.copyright p {

    font-weight: 600;
    color: white;
}

.copyright {
    display: flex;
    width: 100%;
    justify-content: center;
}

.wave-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
}

.wave-bg img {
    width: 100%;
}

@media only screen and (max-width: 540px) {
    .card-body {
        flex-direction: column;
    }

    .card-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
    
    .card-vertical-line {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .card-body {
        padding: 40px;
    }

    .card-body-item {
        padding: 0;
    }

}
  
.contant-text{
   color: #6AC6ED;
}